# Latex specific
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Testing
testing.pdf
testing.tex
testing-numeric.tex

# AMC specific
*.amc

# Project specific
/qbank/apPhysics/
/qbank/astronomy/
/qbank/collegeBoard/
/qbank/cpo/
/qbank/halliday/
/qbank/holt/
/qbank/jpierce/
/qbank/misc/
/qbank/numeric/
/qbank/schaums-mc/
/qbank/schaums-num/
/qbank/serway/


